

/*Below are styles for the trips.html page*/
#wrapper{
	padding-top: 10px;
	padding-bottom: 10px;
}

#card{
	color: #00a3ff;
	background-color: rgba(211,211,211,0.4);
	display: inline-block;
	border: solid 1px lightblue;
	width: 22%;
	margin-right: 2%;
	margin-bottom: 4%;
}

.section1 > h3{
	border: dotted 1px #ccc;
	text-align: center;
}

.image{
	height: 150px;
	width: 100%;

}
p.price{
	text-align:center;
}
h4.avail{
	background-color: gray;
	color: yellow;
	padding: 2%;
}

li{
	list-style-type: none;
}
p.date{
	text-align: center;
	margin-bottom: 10px;
}
div.section2{
	text-align: center;
	

}
button{
	margin-left: 25%;
	margin-bottom: 15px;
}

