
body{
	margin: 0;
	background-image: url(http://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/hubble_friday_07082016.jpg?itok=wKP15r1-);
	background-repeat: no-repeat;
	background-size: 100%;
}

ul{
	width: 100%;
	height: 8%;
	list-style-type: none;
	background-color: #333;
	color: white;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: fixed;
	border-bottom: 1px solid #ccc;
}

span.right{
	float: right;
	margin-right: 5%;
}
li{
	margin-top: 10%;
	display: inline-block;
}
li.logo{
	color: #ccc;
	font-weight: bolder;
	font-size: 30px;
	margin-top: 1.5%;
	margin-left: 5%;
}
a{
	color: #ccc;
	font-size: 30px;
	text-decoration: none;
	margin-right: 0px;
	padding: 8px;
	//border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

a:hover{
	background-color: rgba(192,192,192,0.2);;
}
/*Below are styles for the trips.html page*/
body{
	color: white;
}
#wrapper{
	margin: 0 auto 0 auto;
	padding: 5%;
}

#card{
	background-color: rgba(211,211,211,0.3);
	display: inline-block;
	border: solid 1px lightblue;
	width: 20%;
	margin-right: 2%;
	margin-bottom: 4%;
}

.section1 > header{
	border: dotted 1px #ccc;
	text-align: center;
}

.image{
	margin: 5% auto 0 auto;

}
p{
	padding: 2%;
	text-align: justify;
}
h4.avail{
	background-color: gray;
	color: yellow;
	padding: 2%;
}

li{
	list-style-type: none;
}

